@using itcast.crm16.Site.Models;
@{
    ViewBag.Title = "关于商会";
    Layout = "~/Views/Shared/_PageMaster.cshtml";
    var modelList = ViewBag.items as List<CommerceViewModel>;
}
<div class="detail-page font_wryh inner-same-iframe">
    <div class="w1200">

        <div class="p2th">
            <div class="w1200">
                <div class="item-wrap clearfix">
                    <div class="lbox fldi">
                        <h3 class="title">关于商会</h3>
                        <ul class="list">
                            @foreach (var item in modelList)
                            {
                                <li class="@(item.id==ViewBag.id?"cur":"")">
                                    <a href="@(item.Name=="商会领导"?"/Cemmend/GetLeader?id="+item.id:"/Cemmend/GetModel?id="+item.id)">@item.Name</a>
                                </li>
                            }
                        </ul>
                        <div class="lx-item">
                            <div class="code-item">
                                <img src="/Content/images/logoweixin.png" />
                            </div>
                        </div>
                    </div>
                    @if (modelList.Where(p => p.id == ViewBag.id).First().Name == "加入商会")
                    {
                        <div class="hyzx-page ">
                            <div class="rbox frdi">
                                <div class="cur-title">
                                    <p>
                                        当前位置：<a href="#">首页</a> &gt;&gt;
                                        <a href="#">关于商会</a> &gt;&gt;
                                        <a href="#">加入商会</a>
                                    </p>
                                </div>
                                <div class="content" id="content">
                                    <div class="step-item" id="step-item">
                                        <ul class="list clearfix">

                                            <li class="cur">
                                                <span><img src="/Content/images/step1.gif"></span>
                                                <span>入会须知</span>
                                            </li>


                                            <li>
                                                <span><img src="/Content/images/step2.gif"></span>
                                                <span>入会方式</span>
                                            </li>


                                            <li>
                                                <span><img src="/Content/images/step3.gif"></span>
                                                <span>入会申请</span>
                                            </li>


                                            <li>
                                                <span><img src="/Content/images/step4.gif"></span>
                                                <span>审核申请</span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="item item-1 ">
                                        <div class="title-item tc">
                                            入会须知
                                        </div>
                                        <div class="ly-item tc">
                                            <span class="mr10">时间： 2010年01月11日</span>
                                            <span class="mr10">来源：广东丰顺商会</span>
                                        </div>
                                        <div class="main-con">
                                            <p class="txt">
                                                广东丰顺商会是由丰顺籍人士在中国地区的企事业单位、其他单位等团体和个人；关注丰顺经济发展，并有兴趣加入丰顺商会的海内外企业家、经济界才俊及相关专门人才自愿协商组成的民间组织。本会实行会员制(包括副会长、常务理事、会员单位)，凡承认本会章程，提出入会申请者，经批准，可成为本会会员。
                                            </p>
                                            <dl>
                                                <dt>
                                                    一、申请加入本会成为会员，须具备以下条件：
                                                </dt>
                                                <dd>
                                                    （一）拥护本会章程；<br>

                                                    （二）属丰順籍（原籍、现籍）商企人士；<br>

                                                    （三）有加入本会的意愿，愿意为家乡建设做贡献；<br>

                                                    （四）有良好的社会声誉，在行业内具有一定影响，热心于合作和交流。<br>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    二、会员权利：
                                                </dt>
                                                <dd>
                                                    （一）选举权、被选举权和表决权；<br>

                                                    （二）参加本会组织的活动，取得本会有关资料信息（例如本会主办的刊物《丰顺商人》）；<br>

                                                    （三）获得本会提供的服务；<br>

                                                    （四）对本会工作的批评建议权和监督权；<br>

                                                    （五）请求本会为其维护合法权益提供协助；<br>

                                                    （六）共享本会的信息、资源，得到本会及本会其他会员提供的帮助；<br>

                                                    （七）入会自愿、退会自由；<br>

                                                    （八）依据法律、法规和本会章程所赋予的其他权利。<br>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    三、会员义务：
                                                </dt>
                                                <dd>
                                                    （一）遵守本会章程，参加本会活动，执行本会协议；<br>

                                                    （二）维护本会信誉和合法权益；<br>

                                                    （三）完成本会交办的工作；<br>

                                                    （四）向本会提供有关商会商务发展、建设、管理的经验和信息资料；<br>

                                                    （五）在本会会员遇到经营困难等重大挫折时，提供力所能及的帮助；<br>

                                                    （六）按规定缴纳会费，会员年费缴纳截止日期为：每年3月31日。会员退会应书面报告本会批准。如无特殊情况，会员逾期超过3个月未缴纳会费或连续2年不参加本会年会以上者（派代表参会者除外），视为自动退会，由秘书处登记注销会员资格并发函通知。<br>
                                                </dd>

                                            </dl>
                                            <dl>
                                                <dt>
                                                    四、会员入会程序：
                                                </dt>
                                                <dd>（一）填写提交《广东丰顺商会入会申请表》；</dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    （二）入会需提供资料：
                                                </dt>
                                                <dd>
                                                    1、个人身份证复印件2份、相片2张（大一寸彩色照片2张，电子版高清工作或者生活照2张）；<br>

                                                    2、企业营业执照复印件2份、公司简介2份、个人名片2张；<br>

                                                    （三）由秘书处进行资料整理及初审：商会秘书处从社会评论及介绍人等方面对入会申请人的企业信誉以及个人品行进行了解，通过初审，再将资料整合呈报；<br>
                                                    （四）会员报秘书长审核通过，常务理事由会长审核通过，副会长由会长办公会议审核通过；<br>

                                                    （五）由本会秘书处颁发入会通知。<br>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>五、会费标准：</dt>
                                                <dd>
                                                    副 会 长：伍万元/年；<br>

                                                    常务理事：贰万元/年；<br>

                                                    会 员：壹万元/年。<br>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    六、付款方式：
                                                </dt>
                                                <dd>
                                                    对公账号：中国建设银行丰顺支行，丰顺商会，44001727351053004129<br>

                                                    财务私人账号：工商银行，郭文曲，6222082007000314294<br>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>
                                                    七、联系方式：
                                                </dt>
                                                <dd>
                                                    地 址：中国广东省广州市天河区珠江新城马场路富力公园28-A1栋2401室<br>

                                                    电话：020-34022585<br>

                                                    电子邮箱：gdfssh@126.com<br>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="item item-2 dn">
                                        <div class="title-item tc">
                                            入会方式
                                        </div>
                                        <div class="ly-item tc">
                                            <span class="mr10">时间： 2010年01月11日</span>
                                            <span class="mr10">来源：广东丰顺商会</span>
                                        </div>
                                        <div class="main-con">
                                            <p class="txt">
                                                丰顺商会入会实行自愿、会员推荐与单位推荐多种方式进行。您可以对照会员条件将自己的申请入会登记表送达商会秘书处；也可在本网站的入会申请栏目进行网上申请，商会秘书处工作人员将亲自与您联系。
                                            </p>
                                            <dl>
                                                <dd>
                                                    电    话：020-34022585       <br>
                                                    传    真：020-34022585   <br>
                                                    <a style="color:darkred" href="/Home/DownWork?filenName=广东丰顺商会个人会员登记表.doc">丰顺商会个人会员登记表</a>  <br>
                                                    网络申请地址：入会申请   <br>
                                                    联系人：郭文曲（手机：137-111-371-31）
                                                    马斌振（手机：189-888-452-35）  <br>
                                                    邮    箱：gdfssh@126.com           <br>
                                                    地    址：广东省广州天河区珠江新城马场路28号富力公园28·A1栋2401室   <br>


                                                    丰顺商会，感谢有您！
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="item item-3 dn">
                                        <div class="title-item tc">
                                            会员注册协议
                                        </div>
                                        <div class="ly-item tc">
                                            <span class="mr10">时间： 2010年01月11日</span>
                                            <span class="mr10">来源：广东丰顺商会</span>
                                        </div>
                                        <div class="main-con">
                                            <p>一、总则</p>
                                            <p>1.1   丰顺商会网站所有权和运营权归丰顺商会所有。</p>
                                            <p>1.2   用户在使用本网站的服务之前，应当仔细阅读本协议，并同意遵守本协议及所有服务规则后方可成为竞标网用户，一旦用户 注册成功，则用户与本网站之间自动形成协议关系，用户应当受本协议及所有服务规则的约束。用户在使用特殊的服务或产品时， 应当同意接受相关协议后方能使用。</p>
                                            <p>1.3   本协议、服务规则可由本网站随时更新，用户在享受本网站服务时应当及时关注，用户同意本网站不承担通知义务。本网站 的通知、公告、声明或其它类似内容是本协议及服务规则的一部分。</p>
                                            <p>二、服务内容</p>
                                            <p>2.1   丰顺商会网站的所有权和运营权归广东丰顺商会所有。本网站服务的具体内容由本网站根据实际情况提供。</p>
                                            <p>2.2   本网站提供的部分服务为收费的服务，用户使用收费服务需要向本网站支付一定的费用。对于收费的服务，本网站会在用户 使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用，用户才能使用该收费服务。如用户拒绝支付相关费用 ，则本网站有权不向用户提供该项收费服务。</p>
                                            <p>2.3   本网站仅提供相关的网站服务，除此之外与相关网络服务有关的设备（如个人电脑、手机及其他与接入互联网或移动网有关 的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。 </p>
                                            <p>三、会员帐号</p>
                                            <p>3.1   经本网站注册系统完成注册程序并通过身份认证的用户即为本网站的会员，认证后即获得本网站规定会员所应享有的一切服 务；未经认证仅享有本网站规定的部分信息服务。丰顺商会网站有权对会员的权限设计进行变更。</p>
                                            <p>3.2   会员帐号只能使用英文字母、数字及它们的组合，禁止使用空格、各种符号和特殊字符，否则本网站将不予注册并有权删除。</p>
                                            <p>3.3   如发现会员帐号中含有不雅文字或不恰当名称的，本网站保留取消其会员资格的权利。</p>
                                            <p>(1)  请勿以党和国家领导人或其他社会名人的真实姓名、字号、艺名、笔名注册；</p>
                                            <p>(2)  请勿以国家机构或其他机构的名称注册；</p>
                                            <p>(3)  请勿注册不文明、不健康名字，或包含歧视、侮辱、猥亵类词语的帐号；</p>
                                            <p>(4)  请勿注册易产生歧义、引起他人误解或其它不符合法律规定的帐号。</p>
                                            <p>3.4   会员帐号的所有权归本网站，会员仅享有使用权。3个月未使用的会员帐号，本网站保留收回的权利。</p>
                                            <p>3.5   会员有义务保证密码和帐号的安全，会员利用该密码和帐号所进行的一切活动引起的任何损失或损害，由用户自行承担全部责任，本网站不承担任何责任。如会员发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改帐号密码并妥善保管，如有必要， 请通知本网站。因黑客行为或会员的保管疏忽导致帐号非法使用，本网站不承担任何责任。</p>
                                            <p>四、使用规则</p>
                                            <p>4.1   遵守中华人民共和国相关法律法规，包括但不仅限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护 条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委 会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保 护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。</p>
                                            <p>4.2   用户对其自行发表、上传或传送的内容负全部责任，所有用户不得在本网站任何页面发布、转载、传送含有下列内容之一的信息，否则本网站有权自行处理并不通知用户：</p>
                                            <p>(1)  违反宪法确定的基本原则的；</p>
                                            <p>(2)  危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；</p>
                                            <p>(3)  损害国家荣誉和利益的；</p>
                                            <p>(4)  煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                                            <p>(5)  破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                                            <p>(6)  散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                                            <p>(7)  散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
                                            <p>(8)  侮辱或者诽谤他人，侵害他人合法权益的；</p>
                                            <p>(9)  煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</p>
                                            <p>(10)  以非法民间组织名义活动的；</p>
                                            <p>(11)  含有法律、行政法规禁止的其他内容的。</p>
                                            <p>4.3   用户承诺对其发表或者上传于本网站的所有信息（即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等）均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成本网站被第三人索赔的，用户应全额补偿本网站一切费用（包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用）。 </p>
                                            <p>4.4   当第三方认为用户发表或者上传于本网站的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本网站发送权利通知书时，用户同意本网站可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本网站将不会自动恢复上述删除的信息；</p>
                                            <p>(1)  不得为任何非法目的而使用网站服务系统；</p>
                                            <p>(2)  遵守所有与网站服务有关的协议、规定和程序；</p>
                                            <p>(3)  不得利用本网站进行任何可能对互联网的正常运转造成不利影响的行为；</p>
                                            <p>(4)  不得利用本网站进行任何不利于本网站的行为。</p>
                                            <p>4.5   如用户在使用网络服务时违反上述任何规定，本社区有权要求用户改正或直接采取一切必要的措施（包括但不限于删除用户张贴的内容、暂停或终止用户使用网站服务的权利）以减轻用户不当行为而造成的影响。</p>
                                            <p>五、隐私保护</p>
                                            <p>5.1   本网站不对外公开或向第三方提供单个用户的注册资料及用户在使用网站服务时存储在本网站的非公开内容，但下列情况除外：</p>
                                            <p>(1)  事先获得用户的明确授权；</p>
                                            <p>(2)  根据有关的法律法规要求；</p>
                                            <p>(3)  按照相关政府主管部门的要求；</p>
                                            <p>(4)  为维护社会公众的利益；</p>
                                            <p>5.2   本网站可能会与第三方合作向用户提供相关的服务，在此情况下，如该第三方同意承担与本网站同等的保护用户隐私的责任，则本网站有权将用户的注册资料等提供给该第三方。 </p>
                                            <p>5.3   在不透露单个用户隐私资料的前提下，本网站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
                                            <p>六、版权声明</p>
                                            <p>6.1   本网站的文字、图片、音频、视频等版权均归本网站享有或本网站与作者共同享有，未经本网站许可，不得任意转载。</p>
                                            <p>6.2   本网站特有的标识、版面设计、编排方式等版权均属本网站享有，未经本网站许可，不得任意复制或转载。</p>
                                            <p>6.3   使用本网站的任何内容均应注明“来源于丰顺商会网站”及署上作者姓名，按法律规定需要支付稿酬的，应当通知本网站及作者及支付稿酬，并独立承担一切法律责任。</p>
                                            <p>6.4   本网站享有所有作品用于其它用途的优先权，包括但不仅限于网站、电子杂志、平面出版等，但在使用前会通知作者，并按同行业的标准支付稿酬。</p>
                                            <p>6.5   本网站所有内容仅代表作者自己的立场和观点，与本网站无关，由作者本人承担一切法律责任。</p>
                                            <p>6.6   恶意转载本网站内容的，本网站保留将其诉诸法律的权利。</p>
                                            <p>七、责任声明</p>
                                            <p>7.1   用户明确同意其使用本网站服务所存在的风险及一切后果将完全由用户本人承担，本网站对此不承担任何责任。</p>
                                            <p>7.2   本网站无法保证服务一定能满足用户的要求，也不保证网络服务的及时性、安全性、准确性。</p>
                                            <p>7.3   本网站不保证为方便用户而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本网站实际控制的任何网页上的内容，本网站不承担任何责任。</p>
                                            <p>7.4    对于因不可抗力或本网站不能控制的原因造成的网络服务中断或其它缺陷，本网站不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
                                            <p>7.5   对于本网站向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本网站无需承担任何责任：</p>
                                            <p>(1)  本网站向用户免费提供的各项网络服务；</p>
                                            <p>(2)  本网站向用户赠送的任何产品或者服务；</p>
                                            <p>(3)  本网站向收费网络服务用户附赠的各种产品或者服务</p>
                                            <p>7.6   本网站有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，本网站对用户和任何第三人均无需承担任何责任。</p>
                                            <p>八、附则</p>
                                            <p>8.1   本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
                                            <p>8.2   如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
                                            <p>8.3   本协议解释权及修订权归丰顺商会网站所有。</p>
                                        </div>
                                        <div class="check-item tc">
                                            <input type="checkbox" data-role="agree-check" name="agree-check">
                                            我已阅读并同意上述内容
                                            <span class="register-btn" id="register-btn"><img src="/Content/images/register-btn.gif"></span>
                                        </div>
                                    </div>
                                    <div class="item item-4 dn">
                                        <div class="title-item tc">
                                            入会方式
                                        </div>
                                        <div class="ly-item tc">
                                            <span class="mr10">时间： 2010年01月11日</span>
                                            <span class="mr10">来源：广东丰顺商会</span>
                                        </div>
                                        <div class="main-con">
                                            <p class="txt">
                                                您的入会申请正在审核中，请耐心等候，秘书处将会与您亲自联系！广东丰顺商会真诚为您服务！谢谢！
                                            </p>
                                            <p class="txt">
                                                广东丰顺商会秘书处
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="rbox frdi">
                            <div class="cur-title">
                                <p>
                                    当前位置：<a href="#">首页</a> >>
                                    <a href="#">关于商会</a> >>
                                    <a href="#">@modelList.Where(p => p.id == ViewBag.id).First().Name</a>
                                </p>
                            </div>
                            <div class="content" id="content">

                                <div class="item">
                                    <div class="title-item tc">
                                        @modelList.Where(p => p.id == ViewBag.id).First().Name
                                    </div>

                                    <div class="main-con tc">
                                        @Html.Raw(modelList.Where(p => p.id == ViewBag.id).First().Contents)
                                    </div>

                                    <div class="commentBlock" style="display: none">
                                        <p class="f14 mt10">请发表评论： </p>
                                        <div class="textareaBox">
                                            <textarea name="" rows="" cols=""></textarea>
                                        </div>
                                        <div class="iconBar clearfix">
                                            <div class="fldi"><img src="/Content/images/smile.jpg" alt="">表情</div>
                                            <div class="frdi"><a href="#">发表</a></div>
                                        </div>
                                        <div class="comList">
                                            <ul class="list">
                                                <li>
                                                    <div class="userImg fldi">
                                                        <img alt="" src="/Content/images/userImg.jpg">
                                                    </div>
                                                    <div class="desBox fldi">
                                                        <p>
                                                            <span class="fr">#123楼 16-12-17 5:28 </span> <span class="fb">昵称：</span> 黄思婷
                                                        </p>
                                                        <div class="zan">
                                                            <a href=""><img src="/Content/images/zan.gif" alt=""></a>(221)
                                                        </div>
                                                        <p>作品很棒！</p>
                                                        <p>
                                                            <a href="">[回复]</a>
                                                            <a href="">[引用]</a>
                                                            <a href="">[举报]</a>
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="userImg fldi">
                                                        <img alt="" src="/Content/images/userImg.jpg">
                                                    </div>
                                                    <div class="desBox fldi">
                                                        <p>
                                                            <span class="fr">#123楼 16-12-17 5:28 </span> <span class="fb">昵称：</span> 黄思婷
                                                        </p>
                                                        <div class="zan">
                                                            <a href=""><img src="/Content/images/zan.gif" alt=""></a>(221)
                                                        </div>
                                                        <p>作品很棒！</p>
                                                        <p>
                                                            <a href="">[回复]</a>
                                                            <a href="">[引用]</a>
                                                            <a href="">[举报]</a>
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

</div>
<script src="~/Content/js/jquery.js"></script>
<script>
    $(function () {
        $('#step-item').find('li').click(function () {
            var index = $(this).index();
            $(this).addClass("cur").siblings("li").removeClass("cur");

            $("#content").find(".item").eq(index).removeClass('dn').siblings('.item').addClass('dn');

        });

        $('[data-role="agree-check"]').click(function () {
            if ($('[data-role="agree-check"]').attr('checked') == true) {
                $('[data-role="agree-check"]').attr('checked') == false;
            }
            else {

            }
        });

        $('#register-btn').click(function () {
            if ($('[data-role="agree-check"]').attr('checked') == true) {
                window.location.href = "/member/index";
            }
        });
    });
</script>